//
// Strunctural Classes
//

.select{
  display: inline-block;
  position: relative;
  // max-height: 1.25em;
  max-height: 100%;
  overflow: visible;
  transition-delay: 0.2s;
  max-height: 1.25em;
  min-height: 1.25em;
}

.backdrop {
  background: orange;
  background-color: #555;
  position: relative;
  height: 0;
  transition-delay: 0.2s;
}

.select-active .backdrop {
  margin-top: -5px;
  height: 8px;
  transition-delay: 0s;
}

.select-active {
  transition-delay: 0s;
}

.header {
  padding: 0 3px;
}

.header div, .header svg {
  display: inline-block;
  vertical-align: middle;
}

.header .title{
  position: relative;
  line-height: 100%;
  z-index: 1003;
}

.options {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  height: 0;
  width: 100%;
  transition: height 0.2s ease;
  max-height: 30vh;
  padding: 0px 0px;
  overflow: hidden;
  z-index: 1004;
}

.options:hover {
  overflow: auto;
}

.options-shadow {
  position: relative;
}

.options::-webkit-scrollbar {
  width: 0px;
}

.select-active .options::-webkit-scrollbar {
  width: 5px;
}

.options::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
.options::-webkit-scrollbar-thumb {
  background: lighten(#444, 10);
  border-radius: 2px;
}
.options::-webkit-scrollbar-track {
  background: darken(#444, 10);
}
.options::-webkit-scrollbar-corner {
  width: 0;
  height: 0;
}

.options-shadow {
  // height: 100%;
  overflow-y: auto;
}

.option {
  padding: 2px 4px 2px 4px;
}

.option .check {
  float:right;
  margin-left: 7px;
}

//
// Presentational Classes
//

.select-active {
  background-color: #555;
  border-radius: 2px 2px 0 0;
}

.header .down-arrow path {
  stroke: currentColor;
}

.header div:hover .down-arrow path {
  stroke: white;
}

.header div:hover{
  color: white;
  stroke: white;
}

.select-active .options {
  box-shadow: 0px 1px 3px -1px black;
  background-color: #3F3F3F;
  border-radius: 0 0 2px 2px;
}

.options .option {
  background-color: #3F3F3F;
  padding: 2px 4px 2px 4px;
}
.options .option:hover {
  color: white;
  background-color: #555;
}

.options .active-option {
  background-color: #454545;
}
